<h1>Quizzes</h1>

<% @quizzes.each do |quiz| %>
  <%= render quiz %>
  <p><%= link_to "Show this quiz", quiz, class: "btn btn-sm btn-outline-dark" %></p>
<% end %>

<%= link_to "New quiz", new_quiz_path, class: "btn btn-sm btn-outline-dark" %>
